@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<CargoTracking>
@{
    ViewBag.Title = "CargoTracking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<table class="table table-hover">
    <tr>
        <th> Açıklama</th>
        <th> Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CTDetail</td>
            <td>@x.Date.ToString("g")</td>
        </tr>

    }
</table>

